@page "/create-user"
@using OverblikPlus.Dtos
@using OverblikPlus.Dtos.User
@using OverblikPlus.Services.Interfaces

<h3>Opret Bruger</h3>

@if (!string.IsNullOrEmpty(successMessage))
{
<div class="alert alert-success">
    @successMessage
</div>
}
@if (!string.IsNullOrEmpty(errorMessage))
{
<div class="alert alert-danger">
    @errorMessage
</div>
}


<EditForm Model="@newUser" OnValidSubmit="@HandleCreateUser" class="user-form">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="form-group">
        <label for="firstName">Fornavn</label>
        <InputText id="firstName" @bind-Value="newUser.FirstName" class="form-control" />
    </div>

    <div class="form-group">
        <label for="lastName">Efternavn</label>
        <InputText id="lastName" @bind-Value="newUser.LastName" class="form-control" />
    </div>
    <div class="form-group">
        <label for="MedicationDetails">Medicin</label>
        <InputText id="role" @bind-Value="newUser.MedicationDetails" class="form-control" />
    </div>

    <div class="form-group">
        <label for="username">Brugernavn</label>
        <InputText id="username" @bind-Value="newUser.Username" class="form-control" />
    </div>
    <div class="form-group">
        <label for="username">Password</label>
        <InputText id="password" @bind-Value="newUser.Password" class="form-control" />
    </div>
    

    <div class="form-group">
        <label for="role">Rolle</label>
        <InputText id="role" @bind-Value="newUser.Role" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Opret Bruger</button>
</EditForm>

@code {
    private CreateUserDto newUser = new CreateUserDto();
    private string successMessage = string.Empty;
    private string errorMessage = string.Empty;

    [Inject] public IUserService UserService { get; set; }
    

    private async Task HandleCreateUser()
    {
        try
        {
            await UserService.CreateUser(newUser);
            successMessage = "Bruger oprettet succesfuldt.";
            errorMessage = string.Empty;
            newUser = new CreateUserDto();
        }
        catch (Exception ex)
        {
            successMessage = string.Empty;
            errorMessage = $"Fejl ved oprettelse af bruger: {ex.Message}";
        }
    }
}
