@page "/Login"
@using OverblikPlus.Services
@inject AuthService AuthService
@inject NavigationManager Navigation

<h3>Login</h3>

<input @bind="email" placeholder="Email" />
<input @bind="password" type="password" placeholder="Adgangskode" />
<button @onclick="Login">Login</button>

@code {
    
    private string email;
    private string password;
    
    private async Task Login()
    {
        var success = await AuthService.LoginAsync(email, password);
        if (success)
        {
            Navigation.NavigateTo("/");
        }
        else
        {
            Console.WriteLine("Fejl ved login");
        }
    }

}