@page "/scan"

<h3>Scan QR-kode</h3>

<video id="video" width="300" height="200" autoplay style="display: none;"></video>
<p id="qrResult">QR-kode indhold: <span id="result"></span></p>

<button id="startScanButton" onclick="startScanning()">Start Scan</button>
