@page "/tasks"
@inject HttpClient Http
@inject NavigationManager Navigation

<h3>Mine Opgaver</h3>

<ul>
    @foreach (var task in Tasks)
    {
        <li>
            <p>@task.Name</p>
            <img src="@task.Image" alt="Task Image" style="width:100px; height:100px;" />
            <button @onclick="() => StartTask(task.Id)">Se opgave trin for trin</button>
        </li>
    }
</ul>

@code {
    private List<ReadTaskDto> Tasks { get; set; } = new List<ReadTaskDto>();

    protected override async Task OnInitializedAsync()
    {
        await LoadTasks();
    }

    private async Task LoadTasks()
    {
        Tasks = await Http.GetFromJsonAsync<List<ReadTaskDto>>("/api/Task");
    }

    private void StartTask(int taskId)
    {
        // Naviger til task-step-view med det specifikke TaskId
        Navigation.NavigateTo($"/task-step-view/{taskId}");
    }
}