@page "/tasks"
@inject HttpClient Http

<h3>Tasks</h3>

<TaskList Tasks="Tasks" />

@code {
    private List<ReadTaskDto> Tasks { get; set; } = new List<ReadTaskDto>();

    protected override async Task OnInitializedAsync()
    {
        await LoadTasks();
        foreach (var task in Tasks)
        {
            Console.WriteLine(task.Image);
        }
    }
    
    private async Task LoadTasks()
    {
        var response = await Http.GetFromJsonAsync<List<ReadTaskDto>>("/api/Task");
        Console.WriteLine($"Tasks indlæst: {response?.Count ?? 0}");
        Tasks = response ?? new List<ReadTaskDto>();
        StateHasChanged();
    }
}

<ul>
    @foreach (var task in Tasks)
    {
    <li>
        <p>@task.Name</p>
        <img src="@task.Image" />
    </li>
    }
</ul>
