<h3>Task List</h3>
<ul>
    @foreach (var task in Tasks)
    {
    <li>
        <a @onclick="() => ShowTaskDetails(task.Id)">
            @task.Name
        </a>
    </li>
    }
</ul>

@code {
[Parameter]
public List<ReadTaskDto> Tasks { get; set; } = new List<ReadTaskDto>();

    private void ShowTaskDetails(int taskId)
    {

    }
}
