@code {
    [Parameter] public List<ReadTaskDto> Tasks { get; set; } = new List<ReadTaskDto>();
    [Parameter] public EventCallback<int> OnTaskSelected { get; set; }
}

<h3>Opgaver for i dag</h3>
<ul>
    @foreach (var task in Tasks)
    {
        <li>
            <p>@task.Name</p>
            <img src="@task.Image" alt="Task Image" style="width:100px; height:100px;" />
            <button @onclick="() => OnTaskSelected.InvokeAsync(task.Id)">Se opgave</button>
        </li>
    }
</ul>