@page "/user/{id:int}"
@using OverblikPlus.Services
@inject IUserService userService

<h3>Brugerprofil</h3>

@if (user == null)
{
    <p>Loading...</p>
}
else
{
    <p>Navn: @user.FirstName @user.LastName</p>
    <p>Rolle: @user.Role</p>
}

@code {
    [Parameter] public int Id { get; set; }
    private ReadUserDto user;

    protected override async Task OnInitializedAsync()
    {
        user = await userService.GetUserByIdAsync(Id);
    }
}