@page "/user/{id:int}"
@using OverblikPlus.Dtos
@using OverblikPlus.Dtos.User
@using OverblikPlus.Services.Interfaces
@inject IUserService UserService

<h3>Brugerprofil</h3>

@if (user == null)
{
    <p>Loading...</p>
}
else
{
    <p>Username: @user.Username</p>
    <p>Navn: @user.FirstName @user.LastName</p>
    <p>Rolle: @user.Role</p>
}

@code {
    [Parameter] public string Id { get; set; }
    private ReadUserDto user;

    protected override async Task OnInitializedAsync()
    {
        user = await UserService.GetUserById(Id);
    }
}