@using OverblikPlus.Dtos.Tasks
@using OverblikPlus.Dtos.User


<h3>TaskForm</h3>

<div class="card mb-4">
    <div class="card-header">
        <h4 class="card-title">@Title</h4>
    </div>
    <div class="card-body">
        <form>
            <div class="mb-3">
                <label for="taskName" class="form-label">Navn:</label>
                <input id="taskName" @bind="Task.Name" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="taskDescription" class="form-label">Beskrivelse:</label>
                <textarea id="taskDescription" @bind="Task.Description" class="form-control"></textarea>
            </div>
            <div class="mb-3">
                <label for="taskImage" class="form-label">Billede:</label>
                <InputFile OnChange="HandleImageUpload" class="form-control" />
            </div>
            <div class="mb-3">
                <label for="user" class="form-label">Tildel opgave til en bruger</label>
                <select id="user" @bind="Task.UserId" class="form-select">
                    <option value="">Vælg bruger</option>
                    @foreach (var user in Users)
                    {
                    <option value="@user.Id">@user.FirstName @user.LastName</option>
                    }
                </select>
            </div>
            <div class="d-flex justify-content-end">
                <button type="button" class="btn btn-primary me-2" @onclick="OnSave">Gem</button>
                <button type="button" class="btn btn-secondary" @onclick="OnCancel">Annuller</button>
            </div>
        </form>
    </div>
</div>

@code {
[Parameter] public string Title { get; set; }
[Parameter] public CreateTaskDto Task { get; set; }
[Parameter] public EventCallback OnSave { get; set; }
[Parameter] public EventCallback OnCancel { get; set; }
[Parameter] public List<ReadUserDto> Users { get; set; }

private async Task HandleImageUpload(InputFileChangeEventArgs e)
{
// Logic to handle file upload and bind image to Task.ImageBase64
}
}


@code {
    
}