/* Base page layout */
.page {
    position: relative;
    display: flex;
    flex-direction: column;
    @media (min-width: 641px) {
        flex-direction: row; /* Change flex direction on larger screens */
    }
}

/* Main content area should flex to fill space */
main {
    flex: 1;
}

/* Sidebar styling with a linear gradient background */
.sidebar {
    width: 250px;
    height: 100vh;
    position: sticky;
    top: 0;
    background-image: linear-gradient(180deg, #f0f0f0 0%, #cccccc 100%);
}

/* Top row styling */
.top-row {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #f8f9fa;
    border-bottom: 1px solid #e0e0e0;
    height: 3.5rem;
    position: sticky;
    top: 0;
    z-index: 1;
    padding-left: 2rem;
    padding-right: 1.5rem;
}

/* Style adjustments for top row links and buttons */
/*.top-row ::deep a,*/
/*.top-row ::deep .btn-link {*/
/*    white-space: nowrap;*/
/*    margin-left: 1.5rem;*/
/*    text-decoration: none;*/
/*}*/

.top-row ::deep a,
.top-row ::deep .btn-link {
    color: #333; /* Darker color for better readability */
    padding: 10px; /* Easier to click with more padding */
}

/*.top-row ::deep a:hover,*/
/*.top-row ::deep .btn-link:hover {*/
/*    text-decoration: underline;*/
/*}*/

.top-row ::deep a:focus,
.top-row ::deep .btn-link:focus {
    background-color: #dee2e6; /* Light background on focus for visibility */
    outline: none; /* Removing default outline */
    box-shadow: 0 0 0 3px rgba(33, 37, 41, 0.25); /* Custom focus style */
}

.top-row ::deep a:first-child {
    overflow: hidden;
    text-overflow: ellipsis;
    flex: 1; /* Ensure the first link can grow to use available space */
    text-align: right;
}

/* Responsive adjustments */
@media (max-width: 991px) {
    .sidebar {
        width: 200px; /* Smaller sidebar on medium devices */
    }

    .top-row {
        padding-left: 1rem;
        padding-right: 1rem; /* Less padding on smaller screens */
    }
}

@media (max-width: 767px) {
    .sidebar {
        width: 100%; /* Full-width sidebar on small devices */
        height: auto; /* Adjust height accordingly */
        position: relative; /* Not sticky on small devices */
    }

    .page {
        flex-direction: column; /* Stack vertically on small screens */
    }
}

