<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">OverblikPlus</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Hjem
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="employee-status">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Personale
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="tasks">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Dagens Opgaver
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="User/1">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Brugerprofil
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-user">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Opret Bruger
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="user-list">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Brugeradminstration
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="scan">
                <span class="bi bi-list-nested-nav-menu"></span> Scan QR-kode
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="admin/tasks">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Opret Opgaver
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}